
// 384px =  24.0rem
// 360px =  22.5rem
// 320px =  20.0rem
//  42px =   2.625rem
//  24px =   1.5rem
//  16px =   1.0rem
//  10px = 	 0.625rem
//   1px =	 0.0625rem
//    f3 =   1.5rem // saim 1.7
//    f4 =   1.25rem
//    f5 =   1.0rem

:root {

    --mediabreak1: 360px;
    --mediabreak1one: 360px;

    --mediabreak2: 720px;
    --mediabreak2one: 721px;

    --mediabreak3: 1024px;
    --mediabreak3one: 1025px;

    --header-height: 42px;
    --section-title-height: 84px;
    --footer-height: 24px;
    --toolbar-height: 48px;
    --analyzer-width: 128px;
    --evaluation-width: 24px;
    --page-width: 360px;
    --pages-width: 720px;
        // needed for square board
    --content-neg-width:        var(--header-height) +           //   42
                                var(--section-title-height) +    //   84
                            4 * var(--toolbar-height) ´+         //  192
                                var(--footer-height);            //   24
}                                                                // 342


cell-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: var(--header-height);
    flex: 0 0 var(--header-height);
    nav {
        height: var(--header-height);
        > label {
            left: 0;
            top: 0;
        }
    }
}

main {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 0;
}

cell-footer {
    min-height: 24px;
    flex: 0 0 24px;
    width: 100%;
}


section.stage {

    height: 100%;
    left: 0;
    position: relative;

    div.pages {
        display: flex;
        position: relative;
        // width: calc(4 * 100vw); //TODO: ??
        width: 720px; // here's some background alpha
    }
    div.page {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        width: 100%;
        max-width: 100%;
        z-index: 10;
    }
}

section.content {

    flex: 1 0;
    z-index: 20;
    // z-index: 0;     // debug

    // needed for square board
    // max-width: calc( 100vh - var(--content-neg-width) );
    max-width: calc( 100vh - 342px + 24px);

    cell-board {
        max-height: calc( 100vh - 342px);
        // min-height: calc( 100vh - 340px );
        // max-height: calc( 100vh  - var(--content-neg-width));
    }

    cell-board-evaluation {
        min-height: calc( 100vh - 342px );
        // max-height: calc( 100vh - 340px );
        // max-height: calc( 100vh  - var(--content-neg-width));
    }
}

section.aside {
    // flex: 1 1 var(--analyzer-width);
    // z-index: 20;
    // max-width: 0;
    display:none
    // z-index: 0;     // debug
}

// show hamburger
nav {
    height: auto;
    ul {
        display: none;
        li {
            display: block;
        }
    }
    input:checked + ul {
        width: 22.5rem;
        top: 40px;
        display: block;
    }
}

.page-slide {
    transition-property: transform;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    transition-delay: 0ms;
    z-index: 12;
}

// small screen (mobile)
@media only screen and (max-width: 360px) {
    main {
        width: 100vw;
        margin: 0 auto;
    }
    section.aside {
        width: 0;
    }
    section.content {
        display:none
    }
    div.pages {
        left: -100vw;
        height: 100%;
    }
    div.slide {
        position: absolute;
        min-width: 100vw;
        width: 100vw;
        min-height: 100%;
        &.left {
            left: 0;
            // z-index: 10;
        }
        &.center {
            left: 0;
            // z-index: 12;
        }
        &.right {
            left: 0;
            // z-index: 10;

        }
        &.trans-left {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        &.trans-center {
            -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
        }
        &.trans-right {
            -webkit-transform: translateX(calc(2 * 100vw));
            transform: translateX(calc(2 * 100vw));
        }

    }


}

@media only screen and (min-width: 361px) and (max-width: 720px) {
    main {
        width: var(--page-width);
        margin: 0 auto;
    }
    section.stage {
        width: var(--page-width);
    }
    section.content {
        display:none
    }
    .board-bar.top {
        background: #988;
        background: linear-gradient(0deg, #866 20%, #644 100%);
    }
    .board-bar.bottom {
        background: #988;
        // background: linear-gradient(0deg, #866 20%, #644 100%);
        background: linear-gradient(0deg, #644 20%, #866 100%);
    }
    div.pages {
        left: calc(-1 * var(--page-width));
        // left: 0;  // debug
        height: 100%;
    }
    div.slide {
        position: absolute;
        min-width: var(--page-width);
        width: var(--page-width);
        height: 100%;
        top: 0;
        &.left {
            left: 0;
            // z-index: 10;
        }
        &.center {
            left: 0;
            // z-index: 12;
        }
        &.right {
            left: 0;
            // z-index: 10;

        }
        &.trans-left {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        &.trans-center {
            -webkit-transform: translateX(var(--page-width));
            transform: translateX(var(--page-width));
        }
        &.trans-right {
            -webkit-transform: translateX(calc(2 * var(--page-width)));
            transform: translateX(calc(2 * var(--page-width)));
        }
    }

}

@media only screen and (min-width: 721px) {
    main {
        width: 100vw;
        margin: 0 auto;
    }
    section.stage {
        width: var(--page-width);
    }
    .board-bar.top {
        background: rgb(136,102,102);
        background: linear-gradient(0deg, #866 20%, #644 100%);
    }
    .board-bar.bottom {
        background: rgb(136,102,102);
        background: linear-gradient(0deg, #866 20%, #644 100%);
    }
    div.pages {
        left: calc( -1 *  var(--page-width));
        // left: 0; // debug
        height: 100%;
    }
    div.slide {
        position: absolute;
        min-width: var(--page-width);
        width: var(--page-width);
        height: 100%;
        top: 0;
        &.left {
            left: 0;
            // z-index: 10;
        }
        &.center {
            left: 0;
            // z-index: 12;
        }
        &.right {
            left: 0;
            // z-index: 10;

        }
        &.trans-left {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        &.trans-center {
            -webkit-transform: translateX(var(--page-width));
            transform: translateX(var(--page-width));
        }
        &.trans-right {
            -webkit-transform: translateX(calc(2 * var(--page-width)));
            transform: translateX(calc(2 * var(--page-width)));
        }
    }

}

@media only screen and (min-width: 1024px) {

    section.aside {
        // display: flex;
        // max-width: var(---analyzer-width);
    }

}
