
cell-aside {

  background-color:rgb(241, 228, 228);

  outline-style: dotted;
  outline-width: 1px;
  outline-color: orange;

  flex-grow: 0;
  flex-shrink: 0;

  max-width: 256px;
  min-height: 100%;

}
