
atom-scroll-y   {
    overflow: overlay;
    overflow-y: auto;
    overflow-x: hidden;
    //   scrollbar-gutter: auto;
}

atom-section-title {

    height: 5.25rem;
    min-height: 5.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: hidden;

    span {
        display: inline-block;
        width: 100%;
        margin-top: 1rem;
        font-size: 1.7rem;
        color: #eee;
        font-family: 'SairaCondensed-Medium';
    }

}

atom-flexlist {

    flex-direction: column;
    display: flex;
    // overflow-y: auto;
    // overflow-x: hidden;

    width: 100%;

    & > * {

      background-color: transparent;

        // &:hover {
        //     background-color: #0e62993b;
        //     color: white;
        // }
        // &.active {
        //     background-color: darkred;
        //     color: white;
        // }

    }



}

atom-flexlist-text {
    padding: 0.7rem 1rem ;
    border-bottom: 1px solid #ccc;

}
atom-flexlist-header {
    padding: 0.7rem 1rem ;
    border-bottom: 1px solid #ccc;

}

atom-flexlist-image {
    padding: 0 ;
    border-bottom: 1px solid #ccc;
}
atom-flexlist-entry {
    padding: 0.7rem 1rem ;
    border-bottom: 1px solid #ccc;
}
