.json-tree {
    margin-left: -16px;
}

.json-tree div {
    margin-left: 20px;
}

.json-tree button {
    margin: 0px 4px;
    border: 1px solid orange;
    min-width: 16px;
    min-height: 12px;
    cursor: pointer;
    font-weight: 800;
    background-color: #dedede;
    padding-bottom: 1px;
    border-radius: 7px;
    line-height: 12px;
}

.page.system {
    font-size: 0.9rem;
}
