

board-container {
  flex: 0 0 ;
  width: 100%;
}

board-container-sizer  {
  display: block;
  width: 0;
  float: left;
  padding-bottom: calc(100% - var(--evaluation-width));
}

cell-evaluation {
  display: block;
  width: 24px;
  background-color: rgb(53, 168, 154);
  // min-height: 200px;
  float: left;

}

cell-chessboard {

  display: block;

  color: wheat;

  background-color: rgb(121, 97, 97);

  outline-style: dotted;
  outline-color: orange;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  // width: calc(100%);
  // min-height: 200px;

}
