
cell-footer {

  color: white;

  background-color: rgb(49, 49, 49);
  outline-style: dotted;
  outline-width: 1px;
  outline-color: orange;

  flex-grow: 0;
  flex-shrink: 0;

  width: 100%;
  height: 24px;

  flex: 0 0;

}
