
back-drop.visible {
    z-index: 80;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.5);
}

atom-section-title {
    height: 5.25rem;
    min-height: 5.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: hidden;
}
atom-section-title span {
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
    font-size: 1.7rem;
    color: #eee;
    font-family: 'SairaCondensed-Medium';

}

div.header-left,
div.header-center {
    width: 100%;
    padding: 0.4rem 1rem;
}

div.fixedlist {
    flex: 0 0  auto;
    // no padding here
}
div.flexlist {
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none;
    flex-direction: column;
    display: flex;
}

div.flexlistentry {
    padding: 0.7rem 1rem ;
    // background-color: transparent;
    cursor: pointer;
}
div.flexlistentry:hover {
    background-color: #0e62993b;
    color: white;
}
div.flexlistentry.active {
    background-color: darkred;
    color: white;
}


div.subline,
div.subtext {
    padding-top: .25rem;
    padding-bottom: .25rem;
    color: #ddd;
}
div.games-loaded {
    text-align: right;
    padding: 0.125rem 1rem 0 0;
    font-family: 'Iosevka-Term-Regular';
    font-size: 1rem;
    color: #ddd;
}
div.error {
    display: inline-block;
    color: darkred;
    margin-top: .25rem;
    margin-bottom: .25rem;
}




// GAMES/SOURCES.JS

img.source-icon {
    width:  1.2rem;
    height: 1.3rem;
    margin-right: 16px;
}
div.source-caption {
    font-family: 'SairaCondensed-Regular';
    display: inline-block;
    color: white;
    font-size: 1.5rem;
}
div.source-subline {
    padding-top: 4px;
    font-family: 'Iosevka-Term-Medium';
    color: #333;
    font-size: 1.0rem;
}
div.source-loaded {
    text-align: right;
    padding: 0.125rem 1rem 0 0;
    font-family: 'Iosevka-Term-Regular';
    font-size: 1rem;
    color: #ddd;
}
div.source-error {
    font-family: 'Iosevka-Term-Regular';
    display: inline-block;
    color: darkred;
}
div.source-progress-on {
    background: darkgreen;
}
div.source-progress-off {
    background: transparent;
    width: 0;
}
